*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ZhanKu Happy';
  src: url(a.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:500');

body{
  width: 100%;
  font-weight: 500;
  font-family: system-ui;
  overflow: hidden;
}

main{
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow: hidden;
  /* backdrop-filter: blur(20px); */
  transition: all .3s;
  position: absolute;
  bottom: 0;
  left: 0;
}
main>.album_img{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  object-position: center center;
}
main .left{
  transition: background .3s;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: color .3s;
  position: absolute;
  top:0;
  left: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
}
main .left img{
  width: 60%;
  border-radius: 20px;
  aspect-ratio: 1;
  margin: 20px 0;
  background-image: url(cover.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
main .left .song_name{
  font-size: 32px;
  line-height: 60px;
  height:60px;
  white-space:nowrap;
  width:100%;
  overflow:hidden;
  text-overflow: ellipsis;
}
main .left .album_name{
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  height:30px;
  white-space:nowrap;
  width:100%;
  overflow:hidden;
  text-overflow: ellipsis;
}
main .left .song_range{
  width: 80%;
  margin-top: 30px;
}
main .left .time_picker{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 30px;
}
main .left .controls{
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .left .controls>*{
  font-size: 30px;
  line-height: 60px;
  color: #09f;
  transition: all .2s;
}
main .left .controls>*:hover{
  color: #0cf;
  transform: scale(1.2);
}
main .left .controls>*:active{
  color: #06f;
  transform: scale(0.8);
}
main .left .controls .playbtn{
  font-size: 48px;
}
main .right{
  transition: background .3s;
  float: left;
  width: 60%;
  height: calc(100% - 100px);
  padding: 50px 0;
  overflow: hidden;
  position: absolute;
  top:0;
  right: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
}
main .right ul{
  margin-top: 300px;
  transition: all .6s;
}
main .right ul li{
  list-style: none;
  text-align: center;
  font-size: 24px;
  line-height: 80px;
  transition: all .6s;
}
main .right ul li.act{
  font-size: 36px;
  color: #09f;
}
main .floatbtns{
  position: absolute;
  top: 50px;
  right: 25px;
  z-index: 4;
}
main .floatbtns>div{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border:rgba(170, 170, 170, 0.667) solid 3px;
  margin: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: rgba(68, 68, 68, 0.667);
  background-color: rgba(255, 255, 255, 0.333);
  display: block;
}
main .floatbtns>div:hover{
  border-color: #999;
  color: #444;
}

main.hide{
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 30px);
  bottom: 30px;
  box-shadow: #888 0 1px 5px;
  top: auto;
}
main.hide .album_img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 60px;
  height: 60px;
  margin: 0;
}

.search{
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.search h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #09f;
  font-size: 40px;
  line-height: 60px;
  transition: opacity .4s;
}
.search .searchbox{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  min-width: 290px;
  box-shadow: #888 0 1px 5px;
  height: 30px;
  padding:5px 10px;
  border-radius: 40px;
  transition: top .5s;
  margin: 20px 0;
}
.search .searchbox input{
  width: calc(100% - 40px);
  height: 30px;
  border: 0;
  outline: 0;
  float: left;
  font-size: 16px;
  padding-left: 10px;
  background-color: transparent;
}
.search ul{
  opacity: 0; 
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  min-width: 290px;
  height: calc(100% - 100px);
  pointer-events: none;
  transition: opacity .5s;
  overflow-y: auto;
  overflow-x: hidden;
}
@media(max-width:480px){
  .search ul{
    width: 100%;
  }
}
.search ul>span{
  color: #888;
}
.search ul li{
  list-style: none;
  line-height: 30px;
  height: 30px;
  width: calc(100% - 20px);
  transition: all .1s;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search ul li:hover{
  background-color: #eee;
}
.search ul li span.si{
  padding: 0 .5em;
}
.search .searchbox button{
  width: 30px;
  height: 30px;
  border: 0;
  outline: 0;
  float: left;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
}
.search .searchbox button:hover{
  color: #09f;
}

@media(max-width:700px){
  main .left,
  main .right{
    width: 100%;
  }
  main .right{
    background-color: transparent!important;
  }
  main .left img{
    width: 200px;
  }
  main .left .song_name{
    font-size: 28px;
    line-height: 50px;
  }
  main .left .album_name{
    font-size: 20px;
    padding-bottom: calc(100% - 450px);
  }
  main .right{
    top: 320px;
    height: calc(100% - 450px);
    padding: 0;
  }
  main .right li{
    font-size: 16px!important;
    line-height: 40px!important;
  }
  main .right li.act{
    font-size: 20px!important;
  }
  main .left .time_picker{
    padding-bottom: 0;
  }
  main .floatbtns{
    top: auto;
    bottom: 100px;
    right: 10px;
  }
  main .floatbtns>div{
    width: 24px;
    height: 24px;
    border-radius: 3px;
    border-width: 1px;
    font-size: 14px;
    line-height: 24px;
  }
  main .right.more{
    top: 0;
    height: calc(100% - 130px);
  }
  .fullscreen{
    display: none!important;
  }
  .search .searchbox{
    width: calc(100% - 20px);
    margin: 10px;
    height: 30px;
    padding: 5px 0;
    min-width: 0px;
    left: 0;
    transform: none;
    background-color: #eee;
    border-radius: 5px;
  }
}
