body.dark{
  color: #fff;
  color-scheme: dark;
}
body.dark main .left,
body.dark main .right{
  background-color: rgba(0, 0, 0, 0.667);
}
body.dark main .left .album_name,
body.dark main .left .time_picker{
  color: rgba(255, 255, 255, 0.6);
}
body.dark main .floatbtns>div{
  border-color:rgba(170, 170, 170, 0.667);
  color: rgba(170, 170, 170, 0.667);
  background-color: rgba(0, 0, 0, 0.333);
}
body.dark main .floatbtns>div:hover{
  border-color: #999;
  color: #aaa;
}
body.dark .search{
  background-color: #000;
}
body.dark .search .bi,
body.dark .search input
{
  color: #fff;
}
body.dark .search li:hover{
  background-color: #666;
}
body.dark .search .bi:hover{
  color: #09f;
}
@media(max-width:700px){
  body.dark .searchbox{
    background-color: #666;
  }
}