*{
  margin: 0;
  padding: 0;
}
body,main{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
main{
  z-index:1;
}
.leftmenu{
  width: 300px;
  height: 100%;
  background-color: #eee;
  float: left;
  position: relative;
}
.leftmenu .logo{
  font-size: 30px;
  font-weight: 600;
  color: rgb(0, 68, 255);
  text-align: center;
  line-height: 60px;
  padding-top: 30px;
}
.leftmenu ul{
  padding-top: 30px;
}
.leftmenu ul li{
  width: calc(100% - 20px);
  height: 20px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.leftmenu ul li:hover{
  background-color: #f5f5f5;
}
.leftmenu ul li.active{
  background-color: #888;
  color: #fff;
}
.leftmenu .bottomer{
  position: absolute;
  bottom:5px;
  left:0;
  color: #888;
  font-size: 13px;
  text-align: center;
  width: 100%;
}
.leftmenu .bottomer a{
  color: inherit;
}
.rightcon{
  float: left;
  width: calc(100% - 320px);
  padding: 10px;
  height: calc(100% - 20px);
}
.rightcon .page{
  width: 100%;
  height: 100%;
  display: none;
}
.rightcon .page.active{
  display: block;
}
.rightcon .actionbar{
  width: 100%;
  height: 40px;
  border-bottom: #ccc solid 1px;
}
.rightcon .searchbox{
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.rightcon .searchbox input{
  background-color: transparent;
  width: calc(100% - 60px);
  height: 100%;
  padding: 0 10px;
  border:0;
  outline: 0;
  float: left;
}
.rightcon .searchbox button{
  width: 40px;
  height: 40px;
  border:0;
  outline: 0;
  float: left;
  background-color: transparent;
}
.rightcon .container{
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: scroll;
}
.musiclist li{
  width: 100%;
  height: 40px;
  line-height: 40px;
  max-width: 600px;
  margin:0 auto;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .1s;
}
.musiclist li>span{
  float: left;
  margin: 0 5px;
}
.musiclist li span.title{
  max-width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
}
.page.search .musiclist li span.title{
  max-width: calc(100% - 40px);
}
span.vip{
  color: rgb(255, 208, 0);
  border: rgb(255, 187, 0) solid 1px;
  border-radius: 5px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: 6px;
}
.musiclist li:hover{
  background-color: #eee;
}
.musiclist li .bi{
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
}
.showmore>*{
  display: none;
  margin: 0 auto;
  width: max-content;
  color: #888;
}

.showmore.more a{
  display: block;
}
.showmore.more a:hover{
  color:#09f;
}
.showmore.no p{
  display: block;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #aaa;
}
.openMenu{
  display:none;
}
.closeMenu{
  display:none;
}
@media(max-width:600px){
  main .leftmenu{
    position: absolute;
    top:0;
    left:-100%;
    width: 100%;
    transition: left .3s;
  }
  main .rightcon{
    width: calc(100% - 20px);
  }
  main .actionbar .searchbox{
    width: calc(100% - 40px);
    float: left;
  }
  .openMenu{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    display:block;
  }
  main .leftmenu.show{
    left:0;
  }
  main .leftmenu .closeMenu{
    position: absolute;
    top:0;
    left:0;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 20px;
  }
}